.navbar {
  width: 100%;
  height: 4em;
  background-color: #03A9F4;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar span {
  margin-left: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.col-container {
  display: flex;
  flex-direction: row;
}